/* riếng */
.app {
    overflow: hidden;
}
.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433, #f53e2d);
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__navbar {
    display:flex;
    justify-content: space-between;
    height: var(--header-navbar-height);

}
.header__navbar-list {
    display:flex;
    padding-left: 0;
    margin: auto 0;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-flex;
    position: relative;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 4px;
    align-items: center;
}


.header__navbar-item--saparate {
    border-right: 2px solid hsla(0,0%,100%,.22);
}

.header__navbar-icon {
    margin: 0 4px;
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-item-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__navbar-title-no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* header QR */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    z-index: 1;
}

.header__navbar-item-link--has-qr:hover .header__qr {
    display: block;
    visibility: visible;
    opacity: 1;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__qr-link:nth-child(1) {
    height: 18px;
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-link:nth-child(3) {
    margin-left: 11px;
    margin-top: 5px;
}

.header__qr-download-img {
    height: 15px;
}
/* Notify */
.header__notify {
    width: 380px;
    background-color: #fff;
    position: absolute;
    right: 11px;
    top: calc(100% + 12px);
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    cursor: pointer;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    display: none;
    z-index: 1;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify:before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__notify-header {
    display:flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.header__notify-header:before {
    content: "";
    border-style: solid;
    border-width: 20px 27px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 12px;
    top: -30px
}

.header__notify-img {
    width: 20%;
    margin-top: 12px;
}

.header__notify-content {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__notify-login {
    display:flex;
    background-color: #F1f1f1;
}

.header__notify-btn {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 0;
}

.header__notify-btn:hover {
    color: red;
    background-color: #ccc;
}

.header__navbar-item-has-notify:hover .header__notify {
    display: block;
}

/* auth form */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;

}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height:40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 600;
    border:1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #8888;
}

.auth-form__aside {
    margin-top: 18px;
    
}

.auth-form__policy-text {
    font-size: 1.2rem;
    font-weight: 1000;
    line-height: 1.8;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auto-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display:flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auto-form__socials-icon {
    font-size: 1.8rem;
}

.auto-form__socials--facebook .auto-form__socials-icon {
    color: var(--white-color);

}

.auto-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auto-form__socials--google {
    background-color: var(--white-color);
    color:#666;
}

.auto-form__socials-title {
    margin: 0 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    border-left: 1px solid #EAEAEA;
    margin: -3px 12px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}
/* header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding-top: 12px;
}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}

.header__mobile-search {
    font-size: 2.6rem;
    color: var(--white-color);
}


.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    background-color: transparent;
    display: block;
    line-height: 0;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    align-items: center;
    display: flex;
}

/* cart */
.header__cart {
    width: 150px;
    text-align: center;
    position: relative;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 12px);
    right: 6px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    cursor: default;
    z-index: 1;
}

.header__cart-list:after {
    content:"";
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -24px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list--no-cart {
    padding: 28px 0;
}

.header__cart-no-cart-img {
    width: 50%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 18px;
    color: var(--text-color);
    text-align: center
}

.header__cart-notice {
    display: none;
    position: absolute;
    top: -7px;
    right: -5px;
    padding: 1px 7px;
    font-size: 1.5rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    color: var(--primary-color);
    background-color: var(--white-color);
}
/* search */
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border:none;
    outline: none;
    font-size:1.4rem;
    font-weight: 800;
    padding:0 16px;
    border-radius: 2px;
}

.header__search-selection {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-selection:hover .header__search-option{
    display: block;
}

.header__search-selection-label {
    font-size: 1.4rem;
    font-weight: 800;
    color:var(--text-color);
}

.header__search-selection-icon {
    font-size: 1.4rem;
    color:#4a4a4a;
    position: relative;
    margin: 0 10px 0 8px;
    top: 2px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - -1.2px);
    font-weight: 600;
    width: 108px;
    list-style: none;
    box-shadow: 0 0 3px #c0c0c0;
    margin-top: 16px;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::before {
    content:"";
    display: block;
    width: 100%;
    height: 16px;
    top:-16px;
    left: 0;
    position: absolute;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 10px 5px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item span {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}
/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 3px #c0c0c0;
    overflow: hidden;
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    font-weight: 600;
    margin: 10px 12px;
    font-size: 1.4rem;
    color: #999;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 16px;
}

.header__search-history-item a {
    text-decoration: none;
    font-weight: 1000;
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

/* Header search bar */

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}

/*app cointainer */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 28px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: bold;
    padding: 8px 12px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 8px;
    position: relative;
    top: 1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {

}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 6px 22px;
    right:0;
    transition: right linear 0.1s ;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

/* mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
    
}

.mobile-category__item:nth-last-of-type(3n) .mobile-category__link {
    background: #88cf81;
}

.mobile-category__item:nth-last-of-type(3n + 1) .mobile-category__link {
    background: #86afd7;
}

.mobile-category__item:nth-last-of-type(3n + 2) .mobile-category__link {
    background: #76c9bd;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    font-weight: 600;
    display: flex;
    -webkit-line-clamp: 2;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 136px;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 8px;
}

/* HOME SORT + filter */
.home-filter {
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;
    align-items: center;
    font-size: 1.3rem;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
    background-color: var(--white-color);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
    display: flex;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #EEE;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #555;
}

/* product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item_price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item_price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item_price-new {
    font-size: 1.6rem;
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 600;
}

.home-product-item_rating {
    font-size: 1rem;
    color: #ffe000fa;
    transform-origin: right;
    margin: 1px 0 0 auto;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: bold;
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 400;
}

.home-product-item__brand {

}

.home-product-item__origin-name {

}

.home-product-item__sale-off {
    width: 40px;
    height: 41px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 216, 64, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off-percent {
    color: var(--primary-color);
    margin-top: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2rem;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2rem;
    position: relative;
}

/* Pagniation */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: bold;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 2px;
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}

.pagination-item__link {
    --height: 30px;
    height: var(--height);
    min-width: 40px;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
    text-align: center;
    line-height: var(--height);
}


